:root {
    --bg-main: #0c0f14;
    --bg-card: #151921;
    --text-main: #e9f0fb;
    --accent: #00ffff;
    --accent-pink: #ff0099;
    --accent-yellow: #ff0;
    --border-color: #20242c;
    --danger: #ff3333;
    --success: #33ffaa;

    --font-main: "Tektur", sans-serif;
    --font-main_2: "Space Grotesk", sans-serif;

    --size-logo: clamp(16px, calc(0.714vw + 13.714px), 24px);
    --size-title: clamp(36px, calc(1.79vw + 30.3px), 56px);

    --p-block: clamp(12px, calc(0.714vw + 9.715px), 20px);
    --p-inline: clamp(24px, calc(1.429vw + 19.43px), 40px);

    --p-region: clamp(108px, calc(4.33vw + 94.14px), 156.5px);


    --p-container: clamp(15px, calc(3.125vw + 5px), 50px);


    --space-sm: clamp(1.125rem, .5472rem + 2.8892vw, 3.375rem);
    /* 8-12px */
    --space-md: clamp(0.75rem, 1.5vw, 1rem);
    /* 12-16px */
    --space-lg: clamp(1rem, 2vw, 1.5rem);
    /* 16-24px */
    --space-xl: clamp(1.5rem, 3vw, 2rem);
    /* 24-32px */
    --space-xxl: clamp(2rem, 4vw, 3rem);
    /* 32-48px */

    --region-space: clamp(3.375rem, 1.9304rem + 7.2231vw, 9rem);
}