body {
    min-width: 320px;

    background: var(--bg-main);

    font-family: var(--font-main_2);
    color: var(--text-main);
}

a {
    display: inline-block;

    color: var(--text-main);
    vertical-align: middle;
    text-decoration: none;
}