.glitch-effect {
    text-shadow:
        -2px 0 var(--accent-pink),
        2px 0 var(--accent),
        0 0 2px var(--accent),
        0 0 6px var(--accent),
        0 0 12px var(--accent-pink);
}

.accent {
    color: var(--accent);
}

.accent-p {
    color: var(--accent-pink);
}

.accent-y {
    color: var(--accent-yellow);
}

.glitch-hover-logo {
    &::after {
        content: "a.T-";
        visibility: hidden;
        pointer-events: none;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

.glitch-hover-campus {
    &::after {
        content: "Campus-";
        visibility: hidden;
        pointer-events: none;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

.glitch-hover-community {
    &::after {
        content: "Community-";
        visibility: hidden;
        pointer-events: none;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

.glitch-hover-roadmap {
    &::after {
        content: "Roadmap-";
        visibility: hidden;
        pointer-events: none;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

.glitch-hover-contact_1 {
    &::after {
        content: "Записаться-";
        visibility: hidden;
        pointer-events: none;
        display: block;
        height: 0;
        overflow: hidden;
    }
}