:root {
    --bg-main: #0c0f14;
    --bg-card: #151921;
    --text-main: #e9f0fb;
    --accent: #00ffff;
    --accent-pink: #ff0099;
    --accent-yellow: #ff0;
    --border-color: #20242c;
    --danger: #ff3333;
    --success: #33ffaa;
    
    --font-main: "Space Grotesk", sans-serif;
    --font-title: "Bebas Neue", sans-serif;

    --size-logo: clamp(16px, calc(0.714vw + 13.714px), 24px);

    --size-title: clamp(42px, calc(6.25vw + 23px), 112px);
    --size-sub-title: clamp(16px, calc(0.714vw + 13.72px), 24px);

    --p-block: clamp(16px, calc(0.714vw + 13.714px), 24px);
    --p-inline: clamp(32px, calc(1.428vw + 27.428px), 48px);

    --p-region: clamp(108px, calc(4.33vw + 94.14px), 156.5px);

    --p-block-start-end: clamp(14px, calc(1.964vw + 7.72px), 36px);

    --p-container: clamp(15px, calc(3.125vw + 5px), 50px);
    
   
    --space-sm: clamp(1.125rem, .5472rem + 2.8892vw, 3.375rem); /* 8-12px */
    --space-md: clamp(0.75rem, 1.5vw, 1rem); /* 12-16px */
    --space-lg: clamp(1rem, 2vw, 1.5rem); /* 16-24px */
    --space-xl: clamp(1.5rem, 3vw, 2rem); /* 24-32px */
    --space-xxl: clamp(2rem, 4vw, 3rem); /* 32-48px */

    --global-style-ul-indent-space: 1.15rem;
   
    --region-space: clamp(3.375rem, 1.9304rem + 7.2231vw, 9rem);
}

body {
    min-width: 320px;

    background: var(--bg-main);

    font-family: var(--font-main);
    color: var(--text-main);
}

a {
    color: var(--text-main);
}