.header {
    position: fixed;
    inset-inline: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    padding-block-start: clamp(14px, calc(1.964vw + 7.72px), 36px);

    .header__wrapper {
        position: relative;

        padding-block: var(--p-block);
        padding-inline: var(--p-inline);

        border: 1px solid var(--border-color);
        border-radius: var(--space-xxl);
        background: var(--bg-main);
    }
}

.byte-temple-logo {
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: var(--size-logo);
}

.navbar-right {
    position: relative;
}

.menu-desktop-item {
    opacity: .7;
    transition: opacity .3s ease;
}

.menu-desktop-item.active {
    opacity: 1;
    pointer-events: none;
}

.menu-desktop:hover .menu-desktop-item {
    opacity: .7;
}

.menu-desktop .menu-desktop-item:hover {
    opacity: 1;
}

.nav-toggle {
    display: none;
    position: relative;
    z-index: 101;
    min-width: 25px;
    height: 20px;
    cursor: pointer;
}

.nav-toggle .nav-toggle-bar {
    background: transparent;
    margin-top: 0;
    height: 1px;
    width: 100%;
}

.nav-toggle .nav-toggle-bar::before,
.nav-toggle .nav-toggle-bar::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--text-main);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.nav-toggle .nav-toggle-bar::before {
    top: calc(50% - 5px);
}

.nav-toggle .nav-toggle-bar::after {
    top: calc(50% + 5px);
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::before {
    top: 50%;
    transform: rotate(-45deg);
}

.nav-toggle.expanded .nav-toggle-bar::after {
    top: 50%;
    transform: rotate(45deg);
}

.menu-mobile-container {
    display: none;
    position: fixed;
    top: clamp(90px, calc(6.25vw + 70px), 160px);
    bottom: clamp(14px, calc(1.964vw + 7.72px), 36px);
    left: 0;
    right: 0;
    z-index: 100;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background: transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;

    .header__wrapper {
        min-height: 100%;
    }

    .flex-row {
        justify-content: center;
    }
}

.menu-mobile {
    font-size: 22px;
}

.menu-mobile-container.expanded {
    pointer-events: all;
    opacity: 1;
}

.menu-mobile-item.active {
    position: relative;
    opacity: .7;
    pointer-events: none;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        display: block;
        width: 100%;
        height: 2px;
        
        background: var(--text-main);
        border-radius: 100%;
        box-shadow:
            -2px 0 var(--accent-pink),
            2px 0 var(--accent),
            0 0 2px var(--accent),
            0 0 6px var(--accent),
            0 0 12px var(--accent-pink);
    }
}

.menu-mobile,
.menu-desktop {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .menu-desktop {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .menu-mobile-container {
        display: block;
    }
}

